#rick { width: 280; height: 65; background: url(names.jpg) -115 -210; }
#robin { width: 280; height: 70; background: url(names.jpg) -110 -270; }
#floyd { width: 150; height: 80; background: url(names.jpg) -450 -255; }
#ophelia { width: 210; height: 70; background: url(names.jpg) -100 -390; }
#vana { width: 215; height: 55; background: url(names.jpg) -95 -490; }
#swift { width: 530; height: 90; background: url(names.jpg) -90 -575; }

