#line1 { width: 581; height: 151; background: url(page1.jpg) -50 -71; }

#si { width: 60px; height: 106px; background: url(page1.jpg) -54 -106; }
#man { width: 77px; height: 90px; background: url(page1.jpg) -113 -115; }
#yulma { width: 125px; height: 115px; background: url(page1.jpg) -223 -111; }
#nin { width: 70px; height: 40px; background: url(page1.jpg) -367 -131; }
#enquantuva { width: 150px; height: 100px; background: url(page1.jpg) -444 -116; }
#friend { width: 500px; height: 110px; background: url(page1.jpg) -63 -219; }
