#ecenin { width: 250; height: 165; background: url(page2.jpg) -45 -70; }
#miruvore { width: 200; height: 135; background: url(page2.jpg) -425 -90; }
#thanks { width: 190; height: 160; background: url(page2.jpg) -40 -240; }
#thanksgiving { width: 300; height: 80; background: url(page2.jpg) -380 -220; }
#mara { width: 225; height: 175; background: url(page2.jpg) -35 -415; }

#si { width: 60px; height: 106px; background: url(page1.jpg) -54 -106; }
#man { width: 77px; height: 90px; background: url(page1.jpg) -113 -115; }
#yulma { width: 125px; height: 115px; background: url(page1.jpg) -223 -111; }
#nin { width: 70px; height: 40px; background: url(page1.jpg) -367 -131; }
#enquantuva { width: 150px; height: 100px; background: url(page1.jpg) -444 -116; }
#friend { width: 500px; height: 110px; background: url(page1.jpg) -63 -219; }
