<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/index.css"/>
  <link rel="stylesheet" type="text/css" href="index.css"/>
  <title>Durlomk&oslash; Okaikior</title>
 </head>

 <body>
  <h1>Okaikiar Nouns</h1>

<% WebSite.sendLinks %>

  <div align="center">

  <p align="left">
  Okaikiar is a highly inflected language, and this shows up most
  dramatically in the nouns.  Each noun changes form to show one of
  two numbers (singular and plural), nine cases, and three modes.
  There are three different declension patterns, each identified by
  a set of distinctive endings.  To obtain the declined forms of 
  the noun, this ending is removed, yielding the <em>stem</em>,
  to which other endings are added.
 </p>

  <h2>Cases</h2>

  <p>
  The nine cases are as follows:
  </p>

  <table class="overlay">
   <tr align="left"><th>Case</th><th>Use</th></tr>
   <tr>
    <td>Nominative</td>
    <td>Basic form of the word; used for the subject of verbs as well
	as words equated with the subject.</td>
   </tr>
   <tr>
    <td>Accusative</td>
    <td>Used for the direct object of transitive verbs.</td>
   </tr>
   <tr>
    <td>Causative</td>
    <td>Used to give the motive or reason behind an action.  A noun
        in the causative is often translated into English using the
        preposition <em>because</em>. </td>
   </tr>
   <tr>
    <td>Locative</td>
    <td>A noun in the locative specifies a location where something else
	is happening.  Often translated in English with the prepositions
        <em>at</em> or <em>in</em>, <em>etc.</em>.</td>
   </tr>
   <tr>
    <td>Instrumental</td>
    <td>A noun in the instrumental specifies the instrument used to
	perform an action, often translated via <em>with</em> or
        <em>by means of</em>.</td>
   </tr>
   <tr>
    <td>Ablative</td>
    <td>A noun in the ablative specifies the origin of some motion;
	often translated via <em>from</em> or <em>out of</em>.</td>
   </tr>
   <tr>
    <td>Allative</td>
    <td>A noun in the allative specifies the destination of some motion;
	often translated via <em>to</em> or <em>toward</em>.</td>
   </tr>
   <tr>
    <td>Dative</td>
    <td>A noun in the dative specifies the indirect object of a verb.</td>
   </tr>
   <tr>
    <td>Genitive</td>
    <td>A noun in the genitive specifies a belonging relationship, often
   	translated via a possessive (<em>-'s</em>) or the preposition 
     	<em>of</em>.</td>
   </tr>
  </table>
    
		
  <h2>Modes</h2>

  <p>
  A noun in Okaikiar can be placed in one of three modes: the
  default mode, spatial mode, or temporal mode.  In spatial or
  temporal mode the meaning of the noun is restricted to spatial or
  temporal senses.  For instance, in the default mode, the locative
  case may refer to location in space or time, just as we may use
  <em>at</em> for either sense in English.  But in spatial mode,
  the locative case can refer only to location in space, and in
  temporal mode the locative case can refer only to location in time.
 </p>
 
 <p>
  The modes may alter the English gloss.  For instance, the usual way
  of translating the English adverb <em>here</em> (meaning <em>at this
  place</em>) into Okaikiar is to put the personal pronoun <em>zamo</em>,
  meaning <em>I</em>, into the locative case, with or without changing
  the mode.  To get the <em>noun</em> <em>here</em> (meaning <em>this
  place</em>), the pronoun is placed into the spatial mode.  So the
  same word that means <em>I</em> in the default mode means <em>here</em>
  in spatial mode and <em>now</em> in temporal mode.
 </p>
  
 <h2>Declensions</h2>

  <h3>First Declension</h3>
  
  <p>
  About 40% of all nouns are in the first declension, indicated by
  the nominative ending <em>-ar</em>.  The paradigm is illustrated
  below using the word <em>kaikiar</em> (the root of <em>Okaikiar</em>),
  which means <em>speech</em>.  Note in particular that there is no
  singular/plural distinction in the ablative, locative, or allative
  cases.
  </p>

  <table class="overlay">
   <tr align="left"><th>Case</th><th>Singular</th><th>Plural</th></tr>
   <tr align="left"><th>Nominative</th><td>kaikiar</td><td>kaikier</td></tr>
   <tr align="left"><th>Accusative</th><td>kaikiard</td><td>kaikierd</td></tr>
   <tr align="left"><th>Causative</th><td>kaikiur</td><td>kaikiyr</td></tr>
   <tr align="left"><th>Locative</th><td>kaikiird</td><td>kaikiird</td></tr>
   <tr align="left"><th>Instrumental</th><td>kaikiurd</td><td>kaikiyrd</td></tr>
   <tr align="left"><th>Ablative</th><td>kaikiir</td><td>kaikiir</td></tr>
   <tr align="left"><th>Allative</th><td>kaikiirk</td><td>kaikiirk</td></tr>
   <tr align="left"><th>Dative</th><td>kaikiark</td><td>kaikierk</td></tr>
   <tr align="left"><th>Genitive</th><td>kaikior</td><td>kaiki&oslash;r</td></tr>
  </table>
  
  <h3>Second Declension</h3>
  
  <p>
  The second declension also claims about 40% of Okaikiar nouns, split evenly
  between the two nominative endings <em>-al</em> and <em>-an</em>.
  The paradigm is illustrated using the words <em>zodal</em>, which means
  <em>air</em>, and <em>ierzan</em>, which means <em>fire</em>.  Again,
  there is no singular/plural distinction in the locative cases, but in
  this declension that distinction is also missing from the causative and
  instrumental.
  
  </p>

  <table class="overlay">
   <tr align="left"><th>Case</th><th colspan="2">Singular</th><th colspan="2">Plural</th></tr>
   <tr align="left"><th>Nominative</th><td>zodal</td><td>ierzan</td><td>zodel</td><td>ierzen</td></tr>
   <tr align="left"><th>Accusative</th><td>zodald</td><td>ierzand</td><td>zoded</td><td>ierzend</td></tr>
   <tr align="left"><th>Causative</th><td>zod'l</td><td>ierz'n</td><td>zod'l</td><td>ierz'n</td></tr>
   <tr align="left"><th>Locative</th><td>zodild</td><td>ierzind</td><td>zodild</td><td>ierzind</td></tr>
   <tr align="left"><th>Instrumental</th><td>zod'ld</td><td>ierz'nd</td><td>zod'ld</td><td>ierz'nd</td></tr>
   <tr align="left"><th>Ablative</th><td>zodil</td><td>ierzin</td><td>zodil</td><td>ierzin</td></tr>
   <tr align="left"><th>Allative</th><td>zodelk</td><td>ierzenk</td><td>zodeilk</td><td>ierzeink</td></tr>
   <tr align="left"><th>Dative</th><td>zodalk</td><td>ierzank</td><td>zodelk</td><td>ierzenk</td></tr>
   <tr align="left"><th>Genitive</th><td>zodol</td><td>ierzon</td><td>zod&oslash;l</td><td>ierz&oslash;n</td></tr>
  </table>
  
  <h3>Third Declension</h3>
  
  <p>
  Finally, about 20% of all nouns are in the third declension, indicated
  by the nominative singular ending <em>-o</em>.  Borrowings from other
  languages are typically modified by adding <em>-o</em>, placing them
  into this declension.  The paradigm is indicated using the personal
  pronoun <em>zamo</em>, which means <em>I/me</em>.
  </p>

  <table class="overlay">
   <tr align="left"><th>Case</th><th>Singular</th><th>Plural</th></tr>
   <tr align="left"><th>Nominative</th><td>zamo</td><td>zam&oslash;</td></tr>
   <tr align="left"><th>Accusative</th><td>zamod</td><td>zam&oslash;d</td></tr>
   <tr align="left"><th>Causative</th><td>zamu</td><td>zamy</td></tr>
   <tr align="left"><th>Locative</th><td>zamad</td><td>zamed</td></tr>
   <tr align="left"><th>Instrumental</th><td>zamud</td><td>zamyd</td></tr>
   <tr align="left"><th>Ablative</th><td>zama</td><td>zame</td></tr>
   <tr align="left"><th>Allative</th><td>zamak</td><td>zamek</td></tr>
   <tr align="left"><th>Dative</th><td>zamok</td><td>zam&oslash;k</td></tr>
   <tr align="left"><th>Genitive</th><td>zame</td><td>zami</td></tr>
  </table>

 </div>

<% WebSite.sendLinks %>

 </body>
</html>
