<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/index.css"/>
  <link rel="stylesheet" type="text/css" href="index.css"/>
  <title>'lker Okaikior</title>
 </head>

 <body>
  <h1>Okaikiar Verbs</h1>

<% WebSite.sendLinks %>

  <div align="center">

  <p align="left">
   Okaikiar verbs inflect to indicate person, number, tense, mood, and aspect.
   There is one regular conjugation and a few irregular verbs.
  </p>

  <h2>Regular Verbs</h2>
  <p>
   In the infinitive, a regular verb is a noun of the second
   declension ending in <em>-an</em>; this noun refers to the
   occurrence of the action and is usually translated via the English
   gerund.  The other forms of the verb are obtained by adding
   one <em>or more</em> suffixes to the stem of this noun; where 
   each noun form has its own distinct suffix, different verb forms
   are achieved by combining suffixes.  This is called
   <em>agglutination</em>.
   </p>

   <p>
   For instance, the stem of the noun is also the <em>active stem</em> of
   the verb.  To generate the <em>passive stem</em> just add <em>i</em>.
   You can then add any ending to the result and it will have the same
   effect as when added to the active stem, except that the overall meaning
   will be passive instead of active.  For instance, the infinitive
   <em>kaikan</em> means <em>to speak</em>; the passive infinitive
   <em>kaikian</em> means <em>to be spoken</em>.  The agent form 
   <em>kaikar</em> means <em>one who speaks</em> or <em>speaker</em>;
   the passive agent form <em>kaikiar</em> (recognizable in the language
   name) means <em>that which is spoken</em> or <em>speech</em>.
  </p>

  <h2>Voice</h2>

  <p>
   Okaikiar verbs have two voices: active and passive.  Active voice is
   the default; it is indicated simply by the absence of any voice marker
   (indicated in the charts by a zero, <em>0</em>).
   Passive voice is indicated by appending an <em>i</em> to the stem.
  </p>

  <table class="overlay">
   <tr><th colspan="2">Voice</th></tr>
   <tr><th align="left">Active</th><td>0</td></tr>
   <tr><th align="left">Passive</th><td>i</td></tr>
  </table>

 <h2>Person, Number and Mood</h2>

  <p>
  Each of these suffixes specifies a combination of person,
  number, and mood, and can't be decomposed into independent parts that
  specify each of these separately.  So here I provide a separate chart
  for each mood showing the endings for each person and number combination
  in that mood.
  </p>

  <p>
   Okaikiar verbs have six moods: the infinitive,
   used only in the infinitive forms; the imperative, used to give commands;
   the indicative, which is the most common mood, used for simple statements
   about what is true; the subjunctive, which is used for statements about
   what <em>might</em> be true; the conditional, which is
   roughly equivalent to the English auxiliary <em>would</em>; and the
   attributive.  This last "mood" is used to turn a verb into a modifier.
   Okaikiar has no adjectives, using verbs for that purpose; instead of
   an adjective meaning <em>blue</em>, it has a verb meaning
   <em>to be blue</em>.  But rather than require a rablative clause to
   describe something in passing (as in "The sky which is blue"  for
   "the blue sky"), Okaikiar has an attributive verbal mood which effectively
   turns the verb into a genuine adjective.   Thie nice thing about the
   attributive mood is that it combines with the other verbal suffixes
   to get the full expressivity of the rablative clause construction without
   the verbosity; there are simple two word phrases for "the blue sky",
   "the sky which used to be blue", "the sky which shall be blue",
   "the sky which has been made blue", etc.
  </p>

  <table width="100%"><tr valign="top" align="center"><td>

  <table class="overlay">
   <tr><th colspan="3">Infinitive</th></tr>
   <tr><td>an</td></tr>
  </table>

  <table class="overlay">
   <tr><th colspan="3">Indicative</th></tr>
   <tr><th align="left">Person</th><th>Singular</th><th>Plural</th></tr>
   <tr><th align="left">1st</th><td>ma</td><td>me</td></tr>
   <tr><th align="left">2nd</th><td>mu</td><td>my</td></tr>
   <tr><th align="left">3rd</th><td>mo</td><td>m&oslash;</td></tr>
  </table>

  <table class="overlay">
   <tr><th colspan="3">Subjunctive</th></tr>
   <tr><th align="left">Person</th><th>Singular</th><th>Plural</th></tr>
   <tr><th align="left">1st</th><td>ru</td><td>ry</td></tr>
   <tr><th align="left">2nd</th><td>ku</td><td>ky</td></tr>
   <tr><th align="left">3rd</th><td>lu</td><td>ly</td></tr>
  </table>
  
 </td><td>
  
  <table class="overlay">
   <tr><th colspan="3">Attributive</th></tr>
   <tr><td>o</td></tr>
  </table>

  <table class="overlay">
   <tr><th colspan="3">Conditional</th></tr>
   <tr><th align="left">Person</th><th>Singular</th><th>Plural</th></tr>
   <tr><th align="left">1st</th><td>ro</td><td>r&oslash;</td></tr>
   <tr><th align="left">2nd</th><td>ko</td><td>k&oslash;</td></tr>
   <tr><th align="left">3rd</th><td>lo</td><td>l&oslash;</td></tr>
  </table>
  
  <table class="overlay">
   <tr><th colspan="3">Imperative</th></tr>
   <tr><th align="left">Person</th><th>Singular</th><th>Plural</th></tr>
   <tr><th align="left">1st</th><td></td><td>ze</td></tr>
   <tr><th align="left">2nd</th><td>da</td><td>de</td></tr>
   <tr><th align="left">3rd</th><td>ka</td><td>ke</td></tr>
  </table>

 </td></tr></table>

 <h2>Aspect</h2>

 <p>
 Okaikiar verbs have three aspects, which identify the completeness
 of the action <em>at the time indicated by the tense</em>.   In the
 the usual unspecified case, nothing is said about the completeness
 of the action, or the idea of completeness doesn't apply.  In the
 progressive aspect, the action is explicitly in progress and not
 yet complete.  In the complete aspect, the action is explicitly
 over and done with.  Progressive verbs are often translated with the
 English progressive tenses, such as <em>am speaking</em>; complete
 verbs are often translated with the English perfect tenses, such as
 <em>have spoken</em>.
</p>
   
  <table class="overlay">
   <tr><th colspan="2">Aspect</th></tr>
   <tr><th align="left">Unspecified</th><td>0</td></tr>
   <tr><th align="left">In progress</th><td>r</td></tr>
   <tr><th align="left">Complete</th><td>l</td></tr>
  </table>

  
  <h2>Tense</h2>

  <p>
   The final suffix indicates the verb tense.
  </p>

  <table class="overlay">
   <tr><th colspan="2">Tense</th></tr>
   <tr><th align="left">Present</th><td>m</td></tr>
   <tr><th align="left">Past</th><td>z</td></tr>
   <tr><th align="left">Future</th><td>zam</td></tr>
  </table>
   
 
  <h2>Examples</h2>

  <p>
   Finally, here are some example forms of the verb <em>koman</em>, which means
   "to love".
  </p>

  <table class="overlay">
   <tr align="left">
    <th>Form</th><th>Description</th><th>Translation</th>
   </tr>
   <tr>
    <th align="left"><i>koman</i></th><td>Active infinitive</td><td>to love, loving (noun)</td>
   </tr>
   <tr>
    <th align="left"><i>komidam</i></th>
    <td>Passive second-person singular imperative present</td><td>Be (thou) loved!</td>
   </tr>
   <tr>
    <th align="left"><i>kommarm</i></th>
    <td>Active first person singular indicative progressive present</td><td>I am loving</td>
   </tr>
   <tr>
    <th align="left"><i>komilulz</i></th>
    <td>Passive third person singular subjunctive complete past</td><td>That he had been loved.</td>
   </tr>
   <tr>
    <th align="left"><i>komryrzam</i></th>
    <td>Active first person plural conditional future</td><td>We would love.</td>
   </tr>
   <tr>
    <th align="left"><i>komom</i></th>
    <td>Active present attributive</td><td>loving (adjective)</td>
   </tr>
   <tr>
    <th align="left"><i>komar</i></th>
    <td>Active agent</td><td>lover, one who loves</td>
   </tr>
   <tr>
    <th align="left"><i>komiar</i></th>
    <td>Passive agent</td><td>love, person who is loved</td>
   </tr>
  </table>
   
 <p>
  Note that there is a related noun <em>komal</em>, which means
  "love" (the emotion), but this is not derived by any regular rule
  from the verb.
 </p>
  
 <h2>Irregular Verbs</h2>

 <h3>An (<em>To Be</em>)</h3>

 <p>
  The verb <em>an</em> is not really irregular, but it seems odd because
  it has no stem, or rather, it's stem is 0.  Each of its forms is thus the
  same as the bare ending of the corresponding form in the regular conjugation:
  <em>mam</em> = <em>I am</em>, <em>etc</em>.
 </p>

 <h3>Kan (<em>To Do</em>)</h3>

 <p>
  The verb <em>kan</em> is typical of the small number of monosyllabic verbs
  in Okaikiar.  Since the stem is a single consonant, and initial consonant 
  clusters are illegal in Okaikiar, these verbs cannot be conjugated normally
  in the active voice; <em>*kmam</em> for <em>I do</em> is not a legal word.  
  Therefore these verbs acquire a schwa in the active voice, making
  <em>k'mam</em> the Okaikiar word for <em>I do</em>.
 </p>

 <h3>Zalan (<em>To Go</em>)</h3>

 <p>
  The verb <em>zalan</em> is a stem-changing verb.  In all moods except
  the infinitive and attributive, the <em>a</em> of the stem is reduced
  to a schwa: <em>z'lmam</em> = <em>I go</em>, etc.
 </p>

<% WebSite.sendLinks %>

 </body>
</html>
